@import "../../scss/variables.scss";
.property-manager-section{
  display:flex;
  flex-direction: row;
  width: 100%;
}

.remove-tenant-icon{
  display: flex;
  justify-content: center;
  cursor: pointer;
}