@import "../../constants/constants.scss";

$ag-icons-path: "../../../node_modules/ag-grid-community/src/styles/ag-theme-balham/icons/";

@import "../../../node_modules/ag-grid-community/src/styles/ag-grid.scss";

.gray-tenant-dash-bar {
  display: flex;
  margin-top: .4rem;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
  background: $color__gray--light;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  .tenant-update {
    display: inline;
    color: #858585;
    select {
      border-radius: 100%;
      width: 150px;
      margin-left: 1rem;
    }
  }
  .ghost-dot {
    color: #eeeeee;
  }
}

.ag-header-cell {
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 500;
  border: solid white 1px;
}