@import '../../constants/constants.scss';

.newPropertyFormHeading {
  text-align: left;
  font-size: 1em;
  text-transform: uppercase;
  color: $color__blue--dark;
  line-height: 1.5;
}

.make-admin {
  text-align: left;
  margin-top: 1em;
  margin-right: 1em;
}

.adminCheckbox {
  margin-left: 1em;
}

.newStaffMemberFormSection {
  padding: 1em;
  & .inline-input {
    margin: 0;
    &:first-child {
      border-top: 1px solid $color__gray--border;
    }
    &:last-child {
      border-bottom: 1px solid $color__gray--border;
    }
  }
  & .btn {
    margin-top: 3em;
    display: flex;
    align-content: flex-start;
  }
  @media screen and (min-width: $mq--desktop) {
    padding: 1em 0;
  }
}
