@import '../../constants/constants.scss';

.make-admin {
  text-align: left;
  margin-top: 1em;
  margin-right: 1em;
}

.admin-checkbox {
  margin-left: 1em;
}

.new-staff-member-form-section {
  padding: 1em;
  & .inline-input {
    margin: 0;
    &:first-child {
      border-top: 1px solid $color__gray--border;
    }
    &:last-child {
      border-bottom: 1px solid $color__gray--border;
    }
  }
  & .btn {
    margin-top: 3em;
    display: flex;
    align-content: flex-start;
  }
  @media screen and (min-width: $mq--desktop) {
    padding: 1em 0;
  }
}
