@import "../../constants/constants.scss";

/* I C O N S */
/* ==================================================== */
.icon {
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  vertical-align: text-top;

  svg {
    height: 1em;
    fill: currentColor;
    width: 1em;
  }

  &--comment {
    color: $color__blue;
  }

  &--heart {
    color: $color__red;
  }

  &--phone {
    transform: translateY(2px);
  }

  &--notebookOutline {
    transform: scale(0.8);
  }

  // &--comment {
  //   transform: translateY(emify(1, 16) * -1);
  // }
}
/* end icons */
