@import "../../constants/constants.scss";

/* F O R M S */
/* ==================================================== */
// INLINE-INPUT
.inline-input {
  // adding variable here as we use it for nearly all variants of .inline-input
  $inline-input__padding: 0.75rem 0;

  @include flex_align(space-between);
  border-bottom: 1px solid $color__gray--border;
  font-size: 1rem;
  margin: 0 1rem;
  position: relative;
  text-align: left;

  &:last-of-type {
    border: 0;
  }

  /* BUTTON */
  &__btn {
    text-align: center;
    width: 100%;

    a,
    button {
      display: block;
      font-size: 1em;
      padding: $inline-input__padding;
      text-align: center;
      width: 100%;
    }
  }

  /* RADIO BUTTON */
  &__radio {
    width: 100%;
    label {
      cursor: pointer;
      display: block;
      padding: $inline-input__padding;
      padding-left: 3em;
      position: relative;
    }

    input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;

      &:checked + .inline-input__radio-btn {
        background: $color__yellow;
      }
    }

    &-btn {
      border: 2px solid $color__yellow;
      border-radius: 50%;
      display: block;
      height: 1.25em;
      left: 0.75em;
      position: absolute;
      top: 0.825em;
      transition: background 0.2s ease;
      width: 1.25em;
    }
  }

  /* TEXT */
  &__tel,
  &__text,
  &__date,
  &__email,
  &__password {
    padding: 0.25em 0;
    width: 100%;

    &--full {
      label {
        @include flex_align(space-between);
      }

      .inline-input__label {
        display: inline-block;
        padding-right: 1em;
        width: 30%;
      }
      
      input {
        width: 70%;
      }
    }
  }

  /* DATE */
  &__date {
    padding: $inline-input__padding;

    input {
      font-weight: inherit;
    }
  }

  /* "TOGGLE" CHECKBOX */
  &__toggle {
    padding: 0.5rem 0;
    input[type="checkbox"],
    input[type="radio"] {
      display: none;

      &:checked + .inline-input__toggle__btn {
        background: $color__green;
        border-color: $color__green;

        &::after {
          left: 1.5em;
        }

        &:active {
          &::after {
            margin-left: -0.5em;
          }
        }
      }
    }

    &__btn {
      background: $color__white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2em;
      display: block;
      font-size: 1em;
      height: 2em;
      position: relative;
      text-indent: -9999em;
      transition: background 0.2s ease, border 0.2s ease;
      width: 3.5em;

      &::after {
        background: $color__white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 1.5em;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.1),
          0 3px 1px rgba(0, 0, 0, 0.05);
        content: "";
        display: block;
        height: calc(2em - 2px);
        left: -1px;
        padding: 0;
        position: absolute;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        top: -1px;
        width: calc(2em - 2px);
        z-index: 1;
      }

      &:hover::after {
        will-change: padding;
      }

      &:active {
        &::after {
          padding-right: 0.5em;
        }
      }
    }
  }
}
/* end forms */
