@import "../../../../scss/variables.scss";

.info-card-section {
  display:flex;
  flex-direction: row;
  width: 65%;
  justify-content: space-evenly;
}

.info-card-box {
    height: 120px;
    display: flex;
    justify-content: space-between;
  .name {
    color: $primary;
  }
}

.remove-contact-button:hover {
  cursor: pointer
}
