@import '../../constants/constants.scss';
.selectedOptions {
  display: flex;
  margin-top: 20px;
  & .selectedPill {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    border-radius: 18px;
    background: $color__gray--light;
    & .icon {
      font-size: .7em;
      margin-left: 8px;
      margin-top: 1px;
    }
  }
}
