{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "jsx-a11y/no-autofocus": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "no-shadow": "off",
    "react/destructuring-assignment": "off",
    "react/prefer-stateless-function": 0
  }
}
