.dashboard {
    &__container {
        display: flex;
        min-height: 100vh;
    }
    &__sidebar_container {
        width: 18.5vw;
        background-color: $blue;
        padding: 0 20px;
    }
    &__sidebar_user_container {
        height: $headerHeight;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
        color: white;
    }
    &__sidebar_user_name {
        font-size: 18px;
        color: white;
        margin-left: 8px;
    }
    &__main_container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__header {
        background-image: $gradient;
        height: $headerHeight;
        justify-content: flex-start;
        display: flex;
        align-items: center;
    }
    &__header_logo {
        width: 160px;
    }
    &__main {
        background-color: white;
        flex-grow: 1;
        padding: 45px;
    }
    &__modules_container {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
        
    }
    &__module {
        padding: 20px 20px 50px 20px;
        width: 30%;
        flex-basis: 30%;
        flex-grow: 0;
        color: white;

        &:nth-child(1) {
            background-color: $orange;
        }
        &:nth-child(2) {
            background-color: $red;
        }
        &:nth-child(3) {
            background-color: $blue;
        }
        a {
            color: white;
        }
    }
    &__module_header {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        display: flex;
    }
    &__module_title {
        display: inline-flex;
        flex: 1 0;
    }
    &__module_title_link {
        justify-self: flex-end;
        font-weight: bold;
    }
    &__module_row {
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &__module_stat_container {
        display: flex;
        justify-content: flex-start;
        &.primary {
            font-size: 18px;
            .dashboard__module_stat {
                font-weight: bold;
            }
        }
    }
    &__module_stat {
        width: 20px;
        text-align: right;
        margin-right: 10px;
    }
    &__module_date {
        width: 50px;
        text-align: right;
        margin-right: 10px;
        font-weight: bold;
    }
    &__module_subtext {
        font-size: 14px;
        display: block;
    }
    &__collapsible_header {
        padding: 5px;
        background-color: $lighterGray;
        color: $brandBlue;
        display: flex;
        justify-content: space-between;
        margin-bottom: .75rem; //bc Bulma and negative margins
    }
    &__collapsible_header_title, &__collapsible_toggle {
        font-weight: bold;
    }
    &__collapsible_toggle {
        border: 0;
        background-color: transparent;
    }
    &__collapsible_row {
        border-bottom: 1px solid $lighterGray;
        padding: 20px 5px;
        display: flex;
        justify-content: space-between;
        a {
            color: $darkGray;
        }
        > .column:last-child {
            text-align: right;
        }
        .select, .select select {
            width: 100%;
        }
    }
    &__collapsible_col {
        &:last-child {
            text-align: right;
        }
        .subtext {
            color: $gray;
        }
    }
    &__collapsible_buttons {
        align-self: flex-start;
        button {
            margin-left: 20px;
            font-weight: bold;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    &__footer { //MH - temp
        background-color: $lighterGray;
        color: $blue;
        text-align: right;
        padding: 10px 45px;

    }
}