.dashboard {
    &__container {
        display: flex;
        min-height: 100vh;
    }
    &__sidebar_container {
        width: 18.5vw;
        background-color: $blue;
        padding: 0 20px;
    }
    &__sidebar_user_container {
        height: $headerHeight;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
        color: white;
    }
    &__sidebar_user_name {
        font-size: 18px;
        color: white;
        margin-left: 8px;
    }
    &__main_container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__header {
        background-image: $gradient;
        height: $headerHeight;
        justify-content: flex-start;
        display: flex;
        align-items: center;
    }
    &__header_logo {
        width: 160px;
    }
    &__main {
        background-color: white;
        flex-grow: 1;
        padding: 45px;
    }
}