.property-dashboard-header {
  margin: 0 5rem;
}

.add-new-btn {
  margin-left: 2rem;
}
.gray-bar {
  display: flex;
  margin-top: .5rem;
  padding: 0 1rem;
  justify-content: flex-end;
  align-items: center;
  background: #F5F5F5;
  width: 800px;
  height: 4rem;
}
.archive-btn {
  margin: .3rem;
}

.table-header {
  display: flex;
  align-content: center;
  background: #F5F5F5;
  margin-top: .5rem;
  td {
    padding-bottom: 10px;
  }
}

.table-list {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  td {
    margin: 0 50px;
  }
}

.add-new {
  display: flex;
  margin: 2rem;
  text-align: left;
  .property-header {
    padding-right: 2rem;
    padding-top: .3rem;  
  }
}

.property-search {
  width: 60%;
  border: solid .5px #D3D3D3;
  border-radius: 25px;
}

.property-table {
  margin-top: 2rem;
  width: 800px;
}

