@import "../../constants/constants.scss";

.property-dashboard-header {
  margin: 0 5rem;
  padding-bottom: 0;
}
.add-new-btn {
  margin-left: 2rem;
}
.gray-bar {
  display: flex;
  margin-top: .5rem;
  padding: 0 1rem;
  justify-content: flex-end;
  align-items: center;
  border-radius: 2px;
  background: $color__gray--lightest;
  width: 800px;
  height: 4rem;
}
.archive-btn {
  margin: .3rem;
}
.table-wrapper {
  display: flex;
  margin-top: .5rem;
  table {
    width: 800px;
  }
  th {
    background: $color__gray--lightest;
    padding: 1rem;
    text-align: left;
  }
  td {
    border-bottom: solid 1px $color__gray--light;
    padding: 1.5rem 0;
  }
}

.add-new {
  display: flex;
  margin: 2rem;
  text-align: left;
  .property-header {
    padding-right: 2rem; 
    color: $color__blue--dark;
    font-weight: 400;
  }
}

.property-search {
  width: 50%;
  height: 2.2rem;
  border: solid .5px $color__gray--border;
  border-radius: 25px;
}

.property-table {
  width: 800px;
}

