@import '../../scss/variables.scss';

// .styled-button {
//   position: relative;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   vertical-align: top;

//   height: 2.5rem;
//   margin: 0;
//   padding-top: calc(0.5em - 1px);
//   padding-bottom: calc(0.5em - 1px);
//   padding-left: calc(1em + 0.25em);
//   padding-right: calc(1em + 0.25em);

//   line-height: 1.5;
//   font-size: 1rem;
//   border: 1px solid #dbdbdb;
//   box-shadow: none;
//   border-radius: 290486px;
//   font-weight: bold;
//   white-space: nowrap;
//   &__commit-action {
//     &--valid {
//       margin: 0;
//       color: white;
//       background: $blue;
//       &:hover {
//         color: $darkGray;
//       }
//       &:active {
//         background-color: $lightGray;
//         outline: 0;
//       }
//       &:focus {
//         outline: 0;
//         box-shadow: 0 0 7px $darkGray;
//         border: none;
//       }
//     }
//     &--invalid {
//       margin: 0;
//       color: $gray;
//       background: white;
//       &:hover {
//         color: $darkGray;
//       }
//       &:focus {
//         outline: 0;
//         box-shadow: 0 0 7px $darkGray;
//         border: none;
//       }
//     }
//   }
//   &__cancel {
//     margin: 0;
//     background: $gray;
//     color: white;
//     &:hover {
//       color: $darkGray;
//     }
//     &:active {
//       background-color: $lightGray;
//       outline: 0;
//     }
//     &:focus {
//       outline: 0;
//       box-shadow: 0 0 7px $darkGray;
//       border: none;
//     }
//   }
// }
