@import "../../../scss/variables.scss";

.staff-member {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 90%;
    .manager__contact {
      position: relative;
      padding: 25px 0 25px 0;
      .secondary-title {
        font-size: 18px;
        color: $brandBlue;
        font-weight: bold;
      }
      .contact-details {
        display: flex;
        flex-direction: column;
        margin: 25px 0 0 0;
      }
    }
  }
  &__tenants {
    padding: 25px 0;
    color: $gray;
    .secondary-title {
      font-size: 18px;
      color: $brandBlue;
      font-weight: bold;
    }
    .tenant {
      &__name {
        color: $darkGray;
      }
      &__form-row {
        border-bottom: 1px solid $lightGray;
        &:first-of-type {
          margin-top: 10px;
          border-top: 1px solid $lightGray;
        }
      }
    }
  }
}
