@import "../../../../../scss/variables.scss";

// Card Shape
.card-length {
	width: 280px;
	height: 270px;
}

.card-separating-space {
	padding-top: 30px;
}

// Card Fonts
.tiny-font {
	font-size: 10px;
	color: $lightGray;
}

.tiny-link {
	font-size: 10px;
	display: block;
	padding-top: 0;
}

.tiny-link-info {
	font-size: 10px;
	display: block;
	padding-top: 20px;
}

.info-font {
	font-size: 13px;
	color: $darkGray;
}

.number-font {
	font-weight: bold;
	display: inline-block;
}

// Name
.name-font {
	font-weight: bold;
	font-size: 15px;
	color: $brandBlue;
}

.name-spacing {
	padding-top: 10px;
	padding-left: 24px;
	display: flex;
    justify-content: space-between;
}

// Miscellaneous
.cancel-button {
	padding-right: 10px;
	padding-bottom: 0px;
}

.admin-label {
	color: $blue;
	font-size: 13px;
	font-weight: bold;
}

.empty-space {
	padding-top: 20px;
}
