@import "../../scss/variables.scss";

.form {
  &__row--editing {
    color: $gray;
    margin-left: 0;
    border-bottom: 1px solid $lightGray;
    &:first-child {
      border-top: 1px solid $lightGray;
    }
    &:focus-within {
      border-bottom: 1px solid $blue;
    }
    .row-input {
      border: none;
      color: $darkGray;
      font-weight: bold;
      background-image: none;
      &:focus {
        color: $blue;
        outline-width: 0px;
        background-image: none;
      }
    }
  }
  &__label {
    padding-left: 0;
  }
  &__row--not-editing {
    color: $gray;
    margin-left: 0;
    border-bottom: 1px solid $lightGray;
    &:first-of-type {
      border-top: 1px solid $lightGray;
    }
    &:last-of-type {
      margin-bottom: 12px;
    }
  }
  &__field-error__message {
    color: $errorRed;
    padding-top: 12.5px;
  }
  &__button-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 200px;
    bottom: -10px;
    left: 0;
    margin: 0;
  }
}
