@import "../../constants/constants.scss";

/* N O T E S */
/* ==================================================== */
.notes {
  font-size: emify(14, 16);

  header {
    @include flex_align(space-between);
  }
}

.note {
  margin-top: 1em;

  &__meta {
    @include flex_align(space-between);
    color: $color__gray--medium;

    * {
      margin: 0;
    }
  }
}
/* end notes */
