@import "../../../scss/variables.scss";

.add-staff {
  &__main_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 25px;

    .section-title {
      font-size: 18px;
      color: $brandBlue;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  &__form-container {
    margin-top: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    .form-row {
      display: flex;
      border-bottom: 1px solid $lightGray;
      &:focus-within {
        border-bottom: 1px solid $blue;
        .form-field {
          color: $blue;
        }
      }
      .form-field {
        border: none;
        color: $darkGray;
        font-weight: bold;
        &::placeholder {
          color: $lightGray;
        }
        &:focus {
          outline: 0;
        }
      }
      .error-message{
        color: red;
        z-index: 2;
      }
      label {
        color: $gray;
        padding-left: 0;
        margin-left: 0;
      }
    }
    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 210px;
      margin-top: 55px;
      margin-left: -5px;
      padding: 0;
    }

		.checkbox-row {
			width: 18px;
			height: 18px;
			align-self: center;
		}
  }
}

.form-first-row {
  border-top: 1px solid $lightGray;
}
