.add-emergency-contact {
    &__container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 45px;
    }

    &__main_container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 25px 0;
        margin-top: 45px;
    }

    &__form-container {
        display: flex;
        flex-direction: column;
        max-width: 80%;

        .form-add-rows-container {
            // margin-bottom: 15px;
            display: flex;
        }
        .form-add-rows {
            text-decoration: none;
            user-select: none;
            visibility: hidden;
            font-size: 0.8em;
            &.active {
                visibility: visible;
                cursor: pointer;
                color: $blue;
            }
        }
    }
}
