.add-emergency-contact {
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 45px;
    position: relative;
  }

  &__main_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 25px 0;
    margin-top: 45px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;

    .form-add-rows-container {
      margin-bottom: 45px;
      display: flex;
    }
    .form-add-rows {
      text-decoration: none;
      user-select: none;
      visibility: hidden;
      &.active {
        visibility: visible;
        cursor: pointer;
        color: $blue;
      }
    }
  }

  &__loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background-color: $lighterGray;
    padding-top: 30%;
  }
}
