@import './login';
@import './dashboard';
@import './addproperty';
@import './tickets';
@import './requestAccess';
@import './properties';
@import './joinStaff';
@import './addStaffMember';
@import './emergencyContacts';
@import './addemergencycontact';
@import './managers';
@import './manager';
@import './footer';
@import './header';
@import './navigationMenu';
@import './signup';
@import './privacyPolicy';
@import './settings';
@import './forgotpassword';
