.dashboard {
	&__modules_container {
		display: flex;
		justify-content: space-between;
		margin: 25px 0;
	}
	&__save_assignments_button {
		color: $lightGray;
		background-color: $lighterGray;
		font-weight: bold;
		border: 0;
		&.active {
			background-color: $blue;
			color: white;
		}
	}
	&__assignments_container {
		margin-bottom: 45px;
	}
	&__assignments_button_container {
		margin-top: 20px;
	}
}

.modal {
	&__message_container {
		background-color: white;
		padding: 40px 100px;
		text-align: center;
	}
	&__message {
		color: $brandBlue;
		font-size: 18px;
	}
	&__button_container {
		margin-top: 40px;
		.button {
			padding-left: 45px;
			padding-right: 45px;
			margin-left: 20px;
			font-weight: bold;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
