.emergency_contacts {
  &__container {
    height: 100vh;
    flex-grow: 1;
    max-width: 80%;

    display: flex;
    flex-direction: column;
    padding: 45px;

    .section-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 45px;

      .page-title {
        flex-grow: 1;
        display: flex;
        align-items: center;
        h2 {
          font-weight: bold;
        }
        .rounded {
          margin-left: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1em;
          height: 1em;
          border-radius: 50%;
          background-color: $darkGray;
          cursor: pointer;
          .icon {
            font-size: 0.5em;
            color: $white;
          }
        }
      }
    }

    .row_container {
      width: 100%;
    }

    .emergencyContact {
      &__row {
        display: flex;
        align-items: center;
        padding: 0.6rem 0;

        border-bottom: 1px solid $lightGray;
        &:first-child {
          border-top: 1px solid $lightGray;
        }
      }

      &__main_column {
        flex-grow: 1;
        margin-left: -0.1rem;
        font-weight: bold;

        &.active {
          color: $blue;
          cursor: pointer;
        }
      }
      &__contact_column {
        text-align: right;
        padding-right: 4.5rem;
        font-weight: bold;
        .number-container {
          display: inline-block;
        }
      }
      &__contact_action {
        overflow: hidden;
        white-space: nowrap;
      }
      &__delete_action {
        margin-right: 1rem;
        .icon {
          height: 100%;
          color: red;
          cursor: pointer;
        }
      }
    }

    .subtext {
      font-weight: lighter;
      color: $gray;
      font-size: 0.8em;
      width: 60%;
      min-width: 2rem;
    }
  }

  .button {
    margin: 10px;
    font-weight: bold;
    color: $lightGray;
    background-color: $lighterGray;
    border: 0;
    &.active {
      background-color: $blue;
      color: white;
    }
  }
}
