.dwellingly-footer {
  position: fixed;
  z-index: 10;
  background-color: $lighterGray;
  color: $blue;
  text-align: center;
  margin: none;
  width: 100%;
  padding: 10px;
  bottom: 0;
  right: 0;
  p {
    margin-left: 18.5vw;
  }
}