// Styles for the Header component

.navbar-container {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0;
}

// .header-logo {
//   height: 66px !important;
//   float: left;
//   display: flex;
//   align-items: center;
//   &:hover {
//     background: none;
//   }
// }

// .logout-button {
//   padding: 0.5rem 0.75rem;
//   float: right;
// }