.manager {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: white;
    padding: 45px;
    .section-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .title__section {
      display: flex;
      align-items: center;
      h2 {
        font-size: 22px;
        color: $brandBlue;
        font-weight: bold;
      }
      .rounded {
        margin-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: $darkGray;
        cursor: pointer;
        .icon {
          font-size: 0.5em;
          color: $white;
        }
      }
    }
    &__contact {
      &__section {
        padding-top: 25px;
        .contact-details {
          display: flex;
          flex-direction: column;
          margin: 25px 0;
          max-width: 80%;
          .form-row {
            display: flex;
            &:first-child {
              border-top: 1px solid $lightGray;
            }
            &:focus-within {
              border-bottom: 2px solid $blue;
              .contact-form__field--editing {
                color: $blue;
              }
            }
          }
          .contact-form__title {
            color: $gray;
          }
          .contact-form__field--editing {
            border: none;
            color: $lightGray;
            font-weight: bold;
            &::placeholder {
              color: $lightGray;
            }
          }
          .contact-form__field--not-editing {
            border: none;
            color: $darkGray;
            font-weight: bold;
            &::placeholder {
              color: $lightGray;
            }
          }
          .field-error__message {
            color: red;
            padding-top: 12.5px;
          }
        }
      }
    }
  }
  &__properties {
    &__section {
      padding-top: 25px;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  &__property {
    &__tile {
      display: block;
      width: 40%;
      box-shadow: 0px 2px 4px $lightGray;
      border-radius: 7px;
      margin-right: 20px;
      padding: 10px 15px;
    }
    &__name {
      font-size: 18px;
      color: $brandBlue;
      font-weight: bold;
    }
    &__addres-line {
      display: block;
      color: $lightGray;
    }
  }
}
