.managers {
    .button {
      margin-left: 20px;
      font-weight: bold;
      color: white;
      background-color: $blue;
      border: 0;
      &__envelope-icon {
        margin: 0 5px;
      }
    }
    .invite-button {
      width: 90%;
      background-color: $lightGray;
      margin: 0 0 10px 0;
    }
    .table-header {
      background-color: $lightGray;
      border: none;
    }
  &__table {
    width: 90%;
  }
}
