.manager {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: white;
    padding: 45px;
    .section-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    &__title--section {
      display: flex;
      align-items: center;
      h2 {
        font-size: 22px;
        color: $brandBlue;
        font-weight: bold;
      }
      .rounded {
        margin-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: $darkGray;
        cursor: pointer;
        .icon {
          font-size: 0.5em;
          color: $white;
        }
      }
  }
    &__content {
      padding: 25px 0;
      &__contact--info--container {
        display: flex;
        flex-direction: column;
        margin: 25px 0;
        max-width: 80%;
        .row-title {
          color: $gray;
        }
      }
      &__contact--form--container {
        display: flex;
        flex-direction: column;
        margin: 25px 0;
        max-width: 80%;
        .row-title {
          color: $gray;
        }
        .form-field {
          color: $lightGray;
        }
      }
    }
  }
}
