// Colors
$specialGrey: #C8C8C8;



// Subtitles
.sub-title {
	color: $brandBlue;
    font-weight: bold;
    padding-top: 30px;
}

.sub-title-padding {
	padding-bottom: 10px;
}

// Contact Section
.line {
	margin-top: 10px; 
	margin-bottom: 10px;
	width: 800px;
}

.contact-input {
  border: none;
  color: $darkGray;
  font-weight: bold;
  &::placeholder {
      color: $lightGray;
  }
}

.name-field {
	width: 750px;
	padding-left: 90px;
}

.phone-field {
	width: 750px;
	padding-left: 121px;
}

.email-field {
	width: 750px;
	padding-left: 127px;
}

.input-field {
	display: flex;
  	flex-flow: row wrap;
}

// Property search part
.search-bar {
  width: 400px;
}

// Buttons
.cancel-button {
	padding-bottom: 50px;
}

.access-button {
  color: white;
  cursor:pointer;
  background-color: $blue;
  border-radius: 20px;
  border-width: 0px;
  padding: 7px 20px;
  font-weight: bold;
  font-size: 12px;
}

.set-access-button {
	padding-top: 11px;
	display: inline-block;
	margin: 0 10px;
}

// Miscellaneous
.request-page {
	padding-left: 40px;
	padding-top: 30px;
	display: flex;
    flex-direction: column;
    
}
