@import './scss/main.scss';
@import './scss/pages/all';


html {

  background-color:  #6f90fc;
  //padding-top: 100px
}

.App {
  height: 100vh;
}

.container {
  flex-grow: 1;
  margin: 45px 50px;
  position: relative;
  width: auto;
}

.subtitle {
  color: $dark-blue;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25;
}
