@import './scss/main.scss';

html {

  background-color:  #6f90fc;
  //padding-top: 100px
}

.App {
  height: 100vh;
  text-align: center;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
  margin: 45px 50px;
  position: relative;
  width: auto;
}

.subtitle {
  color: $dark-blue;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25;
}

.form-container {
    // background: url("./assets/images/dwellingly_logo.png") no-repeat;
    background-size: contain;
    background-color: white;
    width: 300px;
    height: 500px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(black,.25);
    margin: auto;
    text-align: center;
}

.form-field {


  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid $lightGray;
  padding: 10px 10px;
  width: 250px;
  margin: 10px 0px 10px;
}

.login-button {
  color: white;
  background-color:  $blue;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 10px

}

.login {
  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $gradient;
  }
  &__or_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__or {
    position: relative;
    width: 50%;
  }
  &__divider {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    background-color: $lightGray;
    z-index: 1;
  }
  &__or_text {
    background-color: white;
    position: relative;
    z-index: 2;
    padding: 0 20px;
  }
  &__account_container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}
