@import "../../scss/variables.scss";
.forgot-password {
  padding: 45px;
  &__main_container {
    display: flex;
    flex-direction: column;
    margin: 25px 0 15px 0;
    .form-container {
      display: flex;
      flex-direction: column;
      max-width: 80%;
      padding-top: 15px;
      &__form-row {
        display: flex;
        border-bottom: 1px solid $lightGray;
        &:focus-within {
          border-bottom: 2px solid $blue;
        }
      }
      &__form-field {
        border: none;
        color: $darkGray;
        font-weight: bold;
        &::placeholder {
          color: $darkGray;
        }
        &:focus {
          outline: none;
        }
      }
      &__error-message {
        color: red;
      }
      &__button-container {
        margin: 5px 0 10px -5px;
      }
    }
  }
  &__para-text {
    color: gray;
  }
  &__section-title {
    padding-top: 40px;
    font-size: 18px;
    color: $brandBlue;
    font-weight: bold;
  }
  &__google-users {
    margin-bottom: 35px;
  }
}