.managers {
    .invite-button-container {
      background-color: $lighterGray;
      margin-bottom: 10px;
    }

    .table-header {
      background-color: $lighterGray;
      border: none;
    }

    .section-header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .managers-list {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .managers-list-wrapper, table {
      min-width: 100%;
    }
}
