@import "../../../../../../scss/variables.scss";


// measurements
$border-radius: 8px;
$border-radius--btn: 20px;
$border-radius--card: 10px;
$ticket__cutout-border--size: 4px;
$ticket__cutout-border--radius: 8px;
$ticket__cutout-size--height: 18px;
$ticket__cutout-size--width: 6px;
$ticket__cutout-sides: 23px;
$width__nav: 15em;
$width__wrapper: 800px;

/* F U N C T I O N S */
@function emify($target, $context) {
  @return ($target/$context) * 1em;
}
/* end functions */

/* M I X I N S */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin dialog_shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

@mixin ticket_cutout($position) {
  #{$position}: -$ticket__cutout-size--width;
  &::after {
    background: rgba(0, 0, 0, 0);
    border: 5px solid $white;
    border-radius: 50%;
    content: "";
    height: $ticket__cutout-sides;
    position: absolute;
    #{$position}: -12px;
    top: -2px;
    width: $ticket__cutout-sides;
  }
}

@mixin flex_align($position) {
  align-items: center;
  display: flex;
  justify-content: $position;
}

@mixin hidden_scrolling {
  box-sizing: content-box;
  overflow-y: auto;
  // overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
/* end mixins */

/* C A R D S */
/* ==================================================== */
.cards {
  background: $lightGray;
  padding: 1em 1em 0 1em;

  @media screen and (min-width: $breakpointMobile) {
    padding-left: 0;
    padding-right: 0;
  }
}

a .card,
button .card {
  color: $black;
}

.card {
  background: $white;
  border-radius: $border-radius--card;
  @include dialog_shadow;
  @include clearfix;
  margin-bottom: 1em;
  position: relative;
  text-align: left;

  &__top {
    background: $white;
    border-top-left-radius: $border-radius--card;
    border-top-right-radius: $border-radius--card;
    min-height: 1em;
  }

  &__bottom {
    background: $white;
    border-bottom-left-radius: $border-radius--card;
    border-bottom-right-radius: $border-radius--card;
    min-height: 1em;
  }

  &__header {
    border-bottom: 1px solid $lightGray;
    position: relative;

    h1 {
      font-size: 1.25em;
      font-weight: 500;

      .icon {
        margin-right: 0.25em;
      }
    }

    h2 {
      font-size: emify(14, 16);
    }

    .action {
      color: $darkBlue;
      height: 1.5em;
      top: 0.5em;
      right: 0.5em;
      text-align: center;
      width: 1.5em;
    }

    button.card__flag {
      background: $white;
      border: 2px solid $red;
      bottom: 0.5rem;
      color: $red;
      font-size: emify(13, 16);
      height: auto;
      line-height: 1.5em;
      padding: 0 0.75em;
      right: 0.5rem;

      &--flagged {
        background: $red;
        color: $white;
      }

      .icon {
        margin-right: 0.25em;
        transform: translateY(2px);
      }
    }
  }

  &__content {
    // padding: 0.5em 1em 0 1em;
    padding: 1em;
  }

  &__contact {
    & + .card__contact {
      margin-top: 1em;
    }

    h4 {
      font-size: emify(14, 16);
      margin-bottom: emify(6, 14);
    }

    p,
    .title {
      font-size: emify(14, 16);
      line-height: 1em;
      margin: 0.25em 0;
    }
  }

  &__summary {
    font-weight: 500;
    position: relative;
    padding-bottom: 10em;

    &--on-person {
      p.meta {
        color: inherit;
      }
    }

    .progress {
      font-size: emify(14, 16);
      margin: 0;

      .icon {
        margin-right: 0.25em;
      }
    }

    p {
      line-height: 1em;
      margin: 0.25rem 0;
    }

    .meta {
      font-size: emify(14, 16);
      font-weight: 300;
      margin: 0;
    }
  }

  &__message-and-action {
    padding: 0.25em;
    text-align: center;
    p {
      margin-bottom: 0.25em;

      .icon {
        margin-right: 0.5em;
      }
    }
    .btn {
      font-size: emify(14, 16);
    }
  }

  &__action {
    background: $darkBlue;
    border-top-left-radius: $border-radius--card;
    color: $white;
    font-size: emify(14, 16);
    padding: 0.5rem 1rem;
  }

  &__status {
    border: 0;
    border-radius: 0;
    background: $orange;
    color: $white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    line-height: 2em;
    margin: 1rem 0 0 0;
    padding: 0.5rem 1.5rem;
    position: relative;
    text-align: center;
    text-align-last: center;
    text-transform: uppercase;
    -webkit-appearance: none;
    width: 100%;
  }

  &--btn {
    cursor: pointer;
  }

  &--form {
    &::before {
      background: radial-gradient(
        ellipse at center,
        $lightGray 0%,
        $lightGray 30%,
        transparent 30%
      );
      background-size: 1em 1em;
      background-repeat: repeat-x;
      background-position: center center;
      content: "";
      display: block;
      height: $border-radius--btn;
      position: absolute;
      top: -0.6em;
      width: 100%;
      z-index: 1;
    }
  }

  &--lg {
    background: transparent;

    .card__header {
      padding: 1.5em;
    }

    .card__content {
      padding: 1em 1.5em 0 1.5em;
    }

    .card__top {
      padding-top: 0;
    }

    .card__bottom .card__content,
    &.card--ticket .card__bottom .card__content {
      padding-bottom: 1.5em;
    }

    .card__contact p {
      font-size: 1rem;
    }
  }

  &--sm {
    .card__content {
      @include flex_align(space-between);
      padding: 0.5em 1em;

      .title {
        margin: 0;

        .icon {
          margin-right: 0.5em;
        }
      }

      time.meta {
        font-size: emify(14, 16);
      }
    }
  }

  &--closed {
    overflow: hidden;

    .card__content {
      min-height: emify(80, 16);
      padding: 0.5em 1em;
    }

    .card__summary {
      .title {
        margin-bottom: 0.5rem;

        .icon {
          border-bottom: 1px solid $orange;
          margin-right: 0.5em;
          padding-bottom: 0.25em;
          text-align: center;
          width: emify(20, 16);
        }
      }

      .card__contact {
        p,
        .title {
          margin: 0;
        }
      }

      p {
        margin: 0;
      }
    }
  }

  &--ticket {
    background: transparent;
    box-shadow: none;

    .card__top,
    .card__bottom {
      @include dialog_shadow;
    }

    .card__bottom .card__content {
      padding-bottom: 1em;
    }

    .card__content {
      padding-bottom: 0.5em;
    }

    &__ticket {
      background: $white;
      height: $ticket__cutout-size--height;
      left: $ticket__cutout-size--width;
      position: relative;
      width: calc(100% - (#{$ticket__cutout-size--width} * 2));

      &-cutout {
        display: block;
        height: $ticket__cutout-size--height;
        width: $ticket__cutout-size--width;
        
        overflow: hidden;
        position: absolute;

        &--left {
          @include ticket_cutout(left);
        }

        &--right {
          @include ticket_cutout(right);
        }
      }

      &::after {
        border: 0;
        border-bottom: 1px dashed $lightGray;
        content: "";
        margin: 0;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translateX(50%) translateY(-1px);
        width: calc(100% - 0.5rem);
      }
    }
  }
}
/* end cards */
