@import "../../../scss/variables.scss";
.login {
  &__form-container {
    background-size: contain;
    background-color: $white;
    width: 300px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(black, 0.25);
    margin: auto;
    text-align: center;
  }

  &__form-field {
    border: 0;
    border-bottom: 1px solid $lightGray;
    padding: 10px 10px;
    width: 250px;
    margin: 0px;
    background-color: transparent;
  }
  &__logo {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $gradient;
  }
  &__or_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  &__or {
    position: relative;
    width: 50%;
  }
  &__divider {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    background-color: $lightGray;
    z-index: 1;
  }
  &__or_text {
    background-color: $white;
    position: relative;
    z-index: 2;
    padding: 0 20px;
    font-weight: bold;
    color: $gray;
  }
  &__account_container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  &__text_link {
    font-size: 14px;
  }
  &__account_create {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: $breakpointMobile){

  .login{
    &__form-container{
      width: 270px;
    }
    &__form-field{
      width: 200px;
    }
    &__button{
      font-size: 12px;
    }
  }
}
