@import '../../constants/constants.scss';

.name-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 35%;
}

.propertyManagerName {
  text-align: left;
  color: #003c71;
  font-size: 1.250em;
  margin-top: 1.5em;
  font-weight: bold;
}

#archive-button {
  text-align: center;
  padding-top: .3em;
}

#contactHeading {
  border-bottom: 1px solid $color__gray--border;
  padding-bottom: .5em;
  margin-top: 1em;
}

.detailSectionHeading {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: $color__blue--dark;
  line-height: 1.5;
  margin-bottom: .5em;
}

.contactDetailsSection {
  padding: 1em 1em 1em 0;
  margin-bottom: 2em;
  & .inline-input {
    margin: 0;
    &:first-child {
      border-top: 1px solid $color__gray--border;
    }
    &:last-child {
      border-bottom: 1px solid $color__gray--border;
    }
  }
  @media screen and (min-width: $mq--desktop) {
    padding: 1em 0;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3em;
}

.propertyCard {
  padding: 1em;
  margin-bottom: 1.5em;
  width: 48%;
  border-radius: $border-radius--card;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.tenantCard {
  padding: 1em;
  margin-bottom: 1.5em;
  text-align: left;
  width: 31%;
  border-radius: $border-radius--card;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.cardName {
  color: $color__blue--dark;
  font-weight: bold;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

table {
  border-spacing: 0;
  box-sizing: border-box;
  position: relative;
  table-layout: fixed;
  text-align: left;
  width: 800px;
  padding-right: 10px;
  @media screen and (min-width: $mq--desktop) {
    width: 100%;
    padding-right: 0;
  }

  td {
    border-bottom: 1px solid $color__gray--border;
    padding: 1em 0;
    vertical-align: top;
  }
}
