@import '../../constants/constants.scss';

.admin {
  &__tiles {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1em;
    @media screen and (min-width: $mq--desktop) {
      margin: 3em 0;
      flex-direction: row;
    }
    & .card {
      flex: 1;
      color: $color__white;
      &:first-child {
        margin-left: 0;
        background-color: $color__yellow;
      }
      &:nth-child(2) {
        background-color: $color__red;
      }
      &:last-child {
        margin-right: 0;
        background-color: $color__blue;
      }
      @media screen and (min-width: $mq--desktop) {
        margin: 0 1em;
      }
    }
  }
  &__tile {
    flex: 1;
    &--heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
    }
    &--body {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: .6em;
      &-inner {
        border-bottom: 1px solid $color__white;
        margin-bottom: 1em;
        display: flex;
        flex-flow: row wrap;
        & .count--container {
          display: flex;
          flex-direction: column;
        }
        & .count--time {
          font-size: .8em;
          line-height: 1.4;
          & .count--date {
            flex: 1;
          }
          div {
            margin-bottom: .8em;
            p {
              margin-bottom: 0;
            }
          }
        }
        h3,
        p {
          display: flex;
          justify-content: space-between;
          text-align: left;
          margin-bottom: .5em;
          & .count--number {
            padding-right: 0.5em;
            width: 36px;
            text-align: center;
          }
          & .count--type {
            flex: 2;
          }
        }
        ul {
          width: 100%;
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
          }
        }
      }
    }
  }
}
