@import '../../constants/constants.scss';

.admin {
  &__tiles {
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
  }
  &__tile {
    flex: 1;
    margin: 0 1rem;
    padding: 1em;
    // background-color: $color__gray--lightest;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &--heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
    }
    &--body {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 1em;
      &-inner {
        border-bottom: 1px solid $color__gray--border;
        margin-bottom: 1em;
        h3,
        p {
          display: flex;
          justify-content: space-between;
          text-align: left;
          margin-bottom: .5em;
          .count--type {
            padding-left: 1em;
            flex: 2;
          }
        }
      }
    }
  }
}
