// https://bulma.io/documentation/customize/with-node-sass/
// https://bulma.io/documentation/customize/variables/

// colors
$brandBlue: #053d6f;
$gray: #8e8e93;
$mediumGray: #858585 !default;
$blue: #51a3fc;
$lighterBlue: #4ca1ff !default;
$darkBlue: #003c71 !default;
$orange: #fdbc49;
$red: #fc575a;
$darkGray: #555555;
$lightGray: #d1d1d1;
$lighterGray: #eeeeee;
$white: #FFF;
$black: black;
$errorRed: red;

$mobile: 600px;

$breakpointMobile: 1200px;

$gradient: linear-gradient(to bottom, #6f90fc 0%, #52baed 100%);
$redGradient: linear-gradient(to bottom, #e45550 0%, #e66454 41%, #e8765b 100%);
$yellowGradient: linear-gradient(to bottom, #f2af4c 0%, #f3b445 41%, #f4b73f 100%);

$cyan: $blue;
$headerHeight: 65px;


//BULMA SPECIFIC VARIABLES
$primary: $blue;
$info: $brandBlue;
$dark: $gray;
$button-disabled-background-color: $lightGray !important;
$button-disabled-opacity: 1;
