@import '../../scss/variables';

.cell-header {
  font-weight: bold;
}

.cell-subheader {
  font-size: small;
}

.cell-align-left {
  text-align: left;
}

.full-size-table {
  width: 100%;
}

ul.archive-tickets-list {
  list-style-position: inside;
}

.bulk-actions-container {
  margin-bottom: 10px;
  button {
    opacity: .25;
    pointer-events: none;
    transition: all 250ms ease;
    &.is-active-button {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.delete-note-modal {
  z-index: 6000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
