@import '../../constants/constants.scss';

.name-header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 35%;
}

.name-header {
  text-align: left;
  color: #003c71;
  font-size: 1.250em;
  margin-top: 1.5em;
  font-weight: bold;
}

.detail-section-heading {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: $color__blue--dark;
  line-height: 1.5;
  padding-bottom: .5em;
}

.contact-details-section {
  padding: 1em 1em 1em 0;
  margin-bottom: 2em;
  & .inline-input {
    margin: 0;
    &:first-child {
      border-top: 1px solid $color__gray--border;
    }
    &:last-child {
      border-bottom: 1px solid $color__gray--border;
    }
  }
  @media screen and (min-width: $mq--desktop) {
    padding: 1em 0;
  }
}

.table-header-container {
  background-color: $color__gray--medium;
  color: $color__white;
  font-weight: 500;
  text-align: left;
  display: flex;
  width: 790px;
  height: 6em;
  padding-right: 10px;
  @media screen and (min-width: $mq--desktop) {
    width: 100%;
    padding-right: 0;
  }
}

p {
  margin: 0;
}

.table-header-left {
width: 35%;
padding-left: 2em;
justify-content: center;
display: flex;
flex-direction: column;
}

.table-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 36%;
}

select {
  width: 80%;
  height: 2em;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 40px;
  color: $color__gray--medium;
  text-align: center;
  padding-left: 10px;
}

table {
  border-spacing: 0 .5em;
  color: $color__blue--dark;
  box-sizing: border-box;
  position: relative;
  table-layout: fixed;
  text-align: left;
  width: 800px;
  padding-right: 10px;
  @media screen and (min-width: $mq--desktop) {
    width: 100%;
    padding-right: 0;
  }

  td {
    padding: 1em 0 1em;
    background-color: $color__gray--light;
    vertical-align: top;
    font-variant-numeric: tabular-nums;
  }
}

#contact-table-cell {
  width: 10%;
}

.icon-container {
  width: 10%;
  text-align: center;
}
