@import '../../constants/constants.scss';

.name-header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 35%;
}

.name-header {
  text-align: left;
  color: #003c71;
  font-size: 1.250em;
  margin-top: 1.5em;
  font-weight: bold;
}

.detail-section-heading {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: $color__blue--dark;
  line-height: 1.5;
  padding-bottom: .5em;

}

.contact-details-section {
  padding: 1em 1em 1em 0;
  margin-bottom: 2em;
  & .inline-input {
    margin: 0;
    &:first-child {
      border-top: 1px solid $color__gray--border;
    }
    &:last-child {
      border-bottom: 1px solid $color__gray--border;
    }
  }
  @media screen and (min-width: $mq--desktop) {
    padding: 1em 0;
  }
}

// .card-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   margin-bottom: 3em;
// }

// .property-card {
//   padding: 1em;
//   margin-bottom: 1.5em;
//   width: 48%;
//   border-radius: $border-radius--card;
//   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
// }
//
// .tenant-card {
//   padding: 1em;
//   margin-bottom: 1.5em;
//   text-align: left;
//   width: 31%;
//   border-radius: $border-radius--card;
//   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
// }
//
// .card-name {
//   color: $color__blue--dark;
//   font-weight: bold;
// }

table {
  border-spacing: 0 .5em;
  color: $color__blue--dark;
  box-sizing: border-box;
  position: relative;
  table-layout: fixed;
  text-align: left;
  width: 800px;
  padding-right: 10px;
  @media screen and (min-width: $mq--desktop) {
    width: 100%;
    padding-right: 0;
  }

  td {
    border-bottom: 1px solid $color__gray--border;
    padding: 1em;
    background-color: $color__gray--light;
    vertical-align: top;
  }
}

#contact-table-cell {
  width: 10%;
}

.table-row {
  background-color: $color__gray--light;
}

.icon-container {
  width: 10%;
  text-align: center;
}
