@import "../../scss/variables.scss";

.calendarModal {
  .calendar {
    &__icon {
      position: relative;    
      float: right;
      color: $gray;
      &:hover, &:focus, &:active {
        cursor: pointer;
        color: $blue
      }
      &.open {
        color: $blue
      }
    }
    &__input {
      margin: 0 0.5rem;
    }
    &__container {
      display: flex;
      justify-content: center;
    }
  }
  
  .modal {
    &__container {
      padding: 1rem;
      width: 770px;
    }
  }
  
  @media screen and (max-width: 770px) {
    .calendar {
      &__input {
        margin: 0.5rem
      }
      &__container {
        flex-direction: column;
        align-items: center;
      }
    }
    .modal {
      &__container {
        width: 400px;
      }
    }
  }
}


