@import "../../scss/variables.scss";

.calendar {
  &__icon {
    position: relative;    
    float: right;
    color: $gray;
    &:hover, &:focus, &:active {
      cursor: pointer;
      color: $blue
    }
    &.open {
      color: $blue
    }
  }
  &__input {
    margin: 1rem auto;
  }
}