@import '../../constants/constants.scss';
.emergencyNumberList {
  // max-width: 800px;
  margin: auto;
  & .emergencyHeader {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color__gray--light;
    & h2 {
      display: none;
      color: $color__blue--dark;
      text-align: left;
      font-weight: 600;
    }
    & .createEmergencyNumberLink {
      padding: 1em 0;
      display: flex;
      align-items: center;
      font-weight: 400;
    }
    & .emergencyCreateNumberIcon {
      width: 18px;
      height: 18px;
      margin-right: .5em;
      border-radius: 50%;
      background-color: $color__blue;
      display: flex;
      justify-content: center;
      align-items: center;
      & .icon {
        position: relative;
        top: 1px;
        font-size: .6em;
        color: $color__white;
      }
    }
    @media screen and (min-width: $mq--desktop) {
      & h2 {
        display: initial;
      }
    }
  }
}
.emergencyNumberRow {
  border-bottom: 1px solid $color__gray--light;
  width: 100%;
  padding: 0 1em;
}
.emergencyNumberItem {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  font-size: 14px;
  & .emergencyNumberContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    .emergencyNumber {
      &:nth-child(2) {
        display: flex;
        &:before {
          @media screen and (min-width: $mq--desktop) {
            content: '| \00a0';
          }
        }
      }
    }
  }
  & .emergencyTitle {
    // min-width: 300px;
    text-align: left;
    max-width: 300px;
    font-weight: 400;
    & .emergencyNumberDescription {
      & p {
        font-weight: 300;
        font-size: .9em;
      }
    }
  }
  & .emergencyNumberEditButtons {
    display: none;
    @media screen and (min-width: $mq--desktop) {
      display: flex;
      & .emergencyNumberIcon {
        color: $color__gray--medium;
        font-size: 1.3em;
        margin: 0 .7em;
      }
      & .emergencyNumberEditIcon {
        cursor: pointer;
        background-color: $color__gray--medium;
        color: $color__white;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 22px;
        height: 22px;
        font-size: .78em;
        border-radius: 50%;
        & .icon {
          position: relative;
          top: 1px;
        }
      }
    }
  }
  & .emergencyNumber {
    margin-right: 10px;
    a {
      font-weight: 600;
    }
  }
}
