@import "../../scss/variables.scss";

.collapsible {
  overflow: hidden;
  transition: max-height 500ms ease-in-out;
  max-height: 1000px;
  margin-bottom: 5px;
  &.isCollapsed {
      max-height: 35px;
      .fa-chevron-down {
          transform: rotate(-90deg);
      }
  }
  &.isDisabled {
    .collapsible__header_title, 
    .collapsible__toggle {
      color: $gray;
      cursor: default;
    }
  }
  &__header {
    padding: 5px;
    background-color: $lighterGray;
    color: $brandBlue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem; //bc Bulma and negative margins
  }
  &__header_title,
  &__toggle {
    font-weight: bold;
    border: 0;
    background-color: transparent;
  }
  &__header_title {
    text-transform: uppercase;
    cursor: pointer;
  }
  &__toggle {
    cursor: pointer;
  }
  &__row {
    border-bottom: 1px solid $lighterGray;
    padding: 20px 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    a {
      color: $darkGray;
    }
    > .column:last-child {
      text-align: right;
    }
    .select,
    .select select {
      width: 100%;
    }
  }
  &__col {
    &:last-child {
      text-align: right;
    }
    .subtext {
      color: $gray;
    }
  }
  &__buttons {
    align-self: flex-start;
    button {
      margin-left: 20px;
      font-weight: bold;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .fa-chevron-down {
    transform: rotate(0);
    transition: transform 250ms;
  }
}
