$brandBlue: #053d6f;
$gray: #8e8e93;
$blue: #51a3fc;

.modal {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(142, 142, 147, 0.5);
  &__container {
    position: relative;
    width: 33vw;
    min-width: 300px;
    padding: 25px;
    background-color: white;
    border-radius: 7px;
  }
  &__close-icon {
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  &__title {
    font-size: 18px;
    color: $brandBlue;
    font-weight: bold;
    padding-bottom: 15px;
  }
  &__content {
    color: $gray;
    padding-bottom: 15px;
  }
  &__button-container {
  }
  &__link {
    color: $blue;
  }
}
