@import "../../scss/variables.scss";
.managers {
    .invite-button-container {
      background-color: $lighterGray;
      margin-bottom: 10px;
    }
    .table-header {
      background-color: $lighterGray;
      border: none;
    }
  .section-header{
    padding-bottom: 20px;
  }
}
