@import "../../../scss/variables.scss";
.dashboard {
	&__modules_container {
		display: flex;
		justify-content: space-evenly;
		margin: 25px 0;
	}
	&__assignments_container {
		margin-bottom: 45px;
	}
	&__assignments_button_container {
		margin: 20px 5px;
	}
}

.modal {
	&__message_container {
		background-color: $white;
		padding: 40px 100px;
		text-align: center;
	}
	&__message {
		color: $brandBlue;
		font-size: 18px;
	}
	&__button_container {
		margin-top: 40px;
	}
}
