@import "../../scss/variables.scss";

.add-tenant {
  &__main_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 25px;

    .section-title {
      font-size: 18px;
      color: $brandBlue;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  &__form-container {
    margin-top: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    .form-row {
      display: flex;
      border-bottom: 1px solid $black;
      &:focus-within {
        border-bottom: 1px solid $blue;
        .form-field {
          color: $blue;
        }
      }
      .form-field {
        border: none;
        color: $black;
        font-weight: bold;
        font-size: 18px;
        &::placeholder {
          color: $gray;
        }
        &:focus {
          outline: 0;
        }
      }
      .error-message{
        color: red;
      }
      label {
        color: $black;
        padding-left: 0;
        margin-left: 0;
      }
    }
    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 210px;
      margin-top: 55px;
      margin-left: -5px;
      padding: 0;
    }
  }
}

.typeahead-section {
  margin-bottom: 50px;
  width: 60%;
  fieldset {
    overflow: auto;
  }
}

.form-first-row {
  border-top: 1px solid $lightGray;
}

.add-property-button {
  padding: 30px 0 0 10px;
  color: #51a3fc;
  background: none;
  border: none;
  font-size: 16px;
  &:focus {
    outline: none;
    border: none;
  }
  cursor: pointer;

  .icon-inline-space {
    margin-right: 5px;
  }
}
