.page--signin {
  & .align-left {
    text-align: left;
  }

  & .signup--google {
    margin: 2rem 0 0;
    & h2 {
      margin: 0 0 1rem 1rem;
    }
  }

  & .signup-conditions {
    margin: 2rem 0 1rem 1rem;
  }
}