@import "../../scss/variables.scss";

.login {
  &__button{
      &__google{
        width: 100%;

        &__text{
          margin-top: 2px;
          display: block;
        }
      }
  }
}
.googleIcon{
  height: 20px;
  float: left;
}

@media (max-width: $breakpointMobile){
  .login__button__google{
    width: 100%;
    font-size: 12px;
  }
  .googleIcon{
    margin-right: 3px;
  }
}