@import "../../scss/variables.scss";


// NavMenu
.sidebar-menu {
	float: left;
	position: relative;
	min-height: 100vh;
	max-width: 250px;
	min-width: 170px;
	padding-bottom: 99999px;
  margin-bottom: -99999px;
	padding-top: 9px;
	z-index: 20;
}

@media screen and (max-width:720px) {
	.sidebar-menu {
		position:absolute;
	}
}

.menu-list a {
	&:hover {
		background: none;
	}
}

.is-child-link{
  padding-left: 15px;
}

.default-cursor {
	cursor: default;
}
