@import "../../scss/variables.scss";
// Card
.move-card {
	padding-left: 400px;
}

// Spacing
.columns-spacing {
	padding-left: 30px;
}

.sep-cards {
	padding-bottom: 30px;
}

// Divider
.card-divider {
	border: 1px solid $brandBlue;
	margin-top: 7px;
	margin-bottom: 7px;
}

// Title
.title-font {
	font-weight: bold;
	font-size: 22px;
	color: $brandBlue;
	display: inline-block;
	padding: 30px;
	padding-left: 43px;
}

.title-line {
	display: inline;
}

.title-spacing {
	display: inline;
	padding-top: 30px;
}

.add-button {
	color: white!important;
	background-color: $blue!important;
	margin-top: 25px;

}
