@import "../../scss/variables.scss";

.search-section {
  margin: 0px 20px 20px 0px;
  position: relative;

  .search {
    width: 80%;
    text-indent: 30px;
    background-color: transparent;
  }

  .search-icon_span {
    position: absolute;
    top: 9px;
    left: 18px;
  }

  .search-icon_svg{
    color: rgba(0, 0, 0, 0.2)
  }

  .clearButton{
    background-color: $red;
  }

}

