@import '../../constants/constants.scss';
.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  & .searchContainerInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .searchBar {
      border: 1px solid $color__gray--border;
      border-radius: 25px;
      margin: 0;
      position: relative;
      z-index: 2;
      padding: 0.350rem 1rem;
      width: 100%;
      max-width: 400px;
      &.active {
        opacity: .6;
        letter-spacing: 0.077px;
      }
    }
    & .inline-input__label {
      &.sml-text {
        font-size: .91rem;
      }
    }
    // & .dropdownIcon {
    //   color: $color__gray--medium;
    //   position: absolute;
    //   font-size: .8em;
    //   top: 14px;
    //   right: 12px;
    //   transform: rotate(90deg);
    //   z-index: 3;
    // }
  }
  & .pastSearch {
    width: 100%;
    background-color: white;
    z-index: 1;
    padding: 0.5em;
    letter-spacing: 0.2px;
    text-align: left;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.searchResultsContainer {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 0;
  left: 0;
  // margin: 0 1em;
  padding: 0 1em;
  padding-top: 38px;
  max-height: 300px;
  max-width: 400px;
  overflow: scroll;
  animation: height 0.1s linear;
  background-color: white;
  @include dialog_shadow;
  border-radius: 25px;
  border-left: 1px solid $color__gray--border;
  border-right: 1px solid $color__gray--border;
  border-bottom: 1px solid $color__gray--border;
  // border-bottom-left-radius: $border-radius--card;
  // border-bottom-right-radius: $border-radius--card;
}
.searchResults {
  width: 100%;
  cursor: pointer;
  padding: 0.5em 0;
  &:hover,
  &:focus {
    background: #ececec;
    outline: none;
  }
  &--multiple {
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
    &:before {
      position: absolute;
      left: 0px;
      content: "\2610";
      color: $color__black;
      font-size: 1.2em;
    }
    &-active {
      position: relative;
      padding-left: 20px;
      &:before {
        content: "\2611";
        font-size: 1.2em;
        color: $color__black;
        position: absolute;
        left: 0;
      }
    }
  }
}

@keyframes height {
  0% {
    opacity: 0;
    height: 0%;
  }
  50% {
    height: 50%;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
