// https://bulma.io/documentation/customize/with-node-sass/

@charset "utf-8";
@import './variables.scss';
@import './helpers.scss';

// Example: Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';
// @import '../node_modules/bulma/sass/utilities/_all.sass';
// @import '../node_modules/bulma/sass/base/_all.sass';
// @import '../node_modules/bulma/sass/elements/button.sass';
// @import '../node_modules/bulma/sass/elements/container.sass';
// @import '../node_modules/bulma/sass/elements/form.sass';
// @import '../node_modules/bulma/sass/elements/title.sass';
// @import '../node_modules/bulma/sass/components/navbar.sass';
// @import '../node_modules/bulma/sass/layout/hero.sass';
// @import '../node_modules/bulma/sass/layout/section.sass';

@import '../../node_modules/bulma/sass/elements/_all.sass';
@import './typography.scss';
