@import "../../../scss/variables.scss";
.manager {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 90%;
    .manager__contact {
      position: relative;
      padding: 25px 0 25px 0;
      .secondary-title {
        font-size: 18px;
        color: $brandBlue;
        font-weight: bold;
      }
      .contact-details {
        display: flex;
        flex-direction: column;
        margin: 25px 0 0 0;
      }
    }
  }
  &__properties {
    padding: 15px 0 35px 0;
    .secondary-title {
      font-size: 18px;
      color: $brandBlue;
      font-weight: bold;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  &__property {
    &__tile {
      display: block;
      box-shadow: 0px 2px 4px $lightGray;
      border-radius: 7px;
      margin: 10px 20px 0 0;
      padding: 10px 15px;
    }
    &__name {
      font-size: 18px;
      color: $brandBlue;
      font-weight: bold;
    }
    &__addres-line {
      display: block;
      color: $lightGray;
    }
  }
  &__tenants {
    padding: 25px 0;
    color: $gray;
    .secondary-title {
      font-size: 18px;
      color: $brandBlue;
      font-weight: bold;
    }
    .tenant {
      &__name {
        color: $darkGray;
      }
      &__form-row {
        border-bottom: 1px solid $lightGray;
        &:first-of-type {
          margin-top: 10px;
          border-top: 1px solid $lightGray;
        }
      }
    }
  }
}
