@import "../../scss/variables.scss";
.property-manager-box{
    width: 50%;
    max-width: 400px;
    height: 120px;
    display: flex;
    justify-content: space-between;
  .name{
    color: $primary;
  }
}

.remove-manager-button:hover {
  cursor: pointer
}
