@import "../../scss/variables.scss";
  .privacy-policy {
      &__mobile{
        display: none;

        &__logo {
          width: 50%;
          float: left;
          padding-top: 2%;
          max-width: 300px;
        }

        &__header {
          height: 11.5vh;
          margin-bottom: 2%;
          background-color: $blue;
    
        }
      }
      
      &__heading{
        color: #2C5F89;
        font-weight: 850;
        margin-left: 10px;
        margin-top: 15px;
      }

      &__text {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 12px;
      }

    &__list{
     margin-top: 15px;
     list-style: inside;
     margin-left: 15px;

      &__item{
        margin-top: 10px;
      }

    }

    &__signUpWrapper{
      margin-top: 30px;
      margin-left: 15px;
      color: $blue;
      font-weight: 500;
      
    }

    &__signUpText {
      margin-bottom: 20px;
      font-size: 15px;
    }

  }

@media screen and (max-width: $breakpointMobile) {
  .privacy-policy{

    &__mobile{

      &__logo {
        padding-top: 3%;
      }
    }
  }
}