@import "../../../../scss/variables.scss";


.showHideSwitch {
  display: flex;
  align-items: center;
  margin: 0px 20px 20px 0px;
  
  .switchLabel {
    margin-right: .2rem;
    text-transform: uppercase;
  }
  // This item is a checkbox with styling more like an iOS toggle 
  // with the "show" and "hide" labels contained inside the area of the toggle.
  // Styling and transitions from: https://bootsnipp.com/snippets/j6k6b
  .switchToggle {

    input[type=checkbox] {
      height: 0; 
      width: 0; 
      visibility: hidden; 
      position: absolute; 
    }
    
    label {
      cursor: pointer; 
      text-indent: -9999px; 
      width: 85px; 
      max-width: 85px; 
      height: 30px; 
      background: #d1d1d1; 
      display: block; 
      border-radius: 100px; 
      position: relative; 
    }
    
    label:after {
      content: ''; 
      position: absolute; 
      top: 2px; 
      left: 2px; 
      width: 26px; 
      height: 26px; 
      background: #fff; 
      border-radius: 90px; 
      transition: 0.3s; 
    }
    
    input:checked + label, .switchToggle input:checked + input + label  {
      background: #3e98d3; 
    }
    
    input + label:before, .switchToggle input + input + label:before {
      content: 'HIDE'; 
      position: absolute; 
      top: 3px; 
      left: 35px; 
      width: 26px; 
      height: 26px; 
      border-radius: 90px; 
      transition: 0.3s; 
      text-indent: 0; 
      color: #fff; 
    }
    
    input:checked + label:before, .switchToggle input:checked + input + label:before {
      content: 'SHOW'; 
      position: absolute; 
      top: 3px; 
      left: 5px; 
      width: 26px; 
      height: 26px; 
      border-radius: 90px; 
      transition: 0.3s; 
      text-indent: 0; 
      color: #fff; 
    }
    
    input:checked + label:after, .switchToggle input:checked + input + label:after {
      left: calc(100% - 2px); 
      transform: translateX(-100%); 
    }
    
    label:active:after {
      width: 60px; 
    } 

  }

}
