@import '../../constants/constants.scss';
.newIssueSummary {
  & .card__content {
    padding: 0;
  }
  & .newIssueSummaryInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $color__gray--border;
    &:last-child {
      border-bottom: none;
    }
    & .newIssueTitle {
      flex: 4;
      & .title {
        padding-right: 1em;
      }
    }
    & .newIssueSummaryEdit {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex: 1;
      color: $color__red
    }
  }
}
.newIssueSentSuccess {
  height: 140px;
  padding: 20px;
  font-size: 5em;
  color: $color__blue;
  background-color: $color__white;
  width: calc(100% - 1em);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  animation: fade 2.2s linear;
  @keyframes fade {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
