@import '../../constants/constants.scss';
.newIssueSummary {
  & .card__content {
    padding: 0;
  }
  & .newIssueSummaryInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $color__gray--border;
    &:last-child {
      border-bottom: none;
    }
    & .newIssueTitle {
      flex: 4;
      & .title {
        padding-right: 1em;
      }
    }
    & .newIssueSummaryEdit {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex: 1;
      color: $color__red
    }
  }
}
.newIssueSent {
  padding: 30px;
  font-size: 4em;
  background-color: $color__white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  animation: fade 1s linear;
  &.success {
    color: $color__blue;
  }
  &.error {
    color: $color__red;
  }
  & .issueStatusText  {
    margin-top: .5rem;
    font-size: 2rem;
  }
  & .summaryButton {
    font-size: 1rem;
    margin-top: .5rem;
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
