@import "./scss/main.scss";
@import "./scss/pages/all";

.App {
  overflow: hidden;
  min-height: 100vh;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 150px);
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  margin-bottom: 40px;
  padding: 25px;
}

.subtitle {
	color: $brandBlue;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.25;
}
