// Backgrounds
.bg-blue {
  background: $blue;
}

.bg-gradient {
  background: $gradient;
}

.bg-grey {
  background: $gray;
}

// NavMenu
.is-sidebar-menu {
	float: left;
	position: relative;
	min-height: 100vh;
	width: 250px;
	padding-bottom: 99999px;
  margin-bottom: -99999px;
	padding-top: 9px;
	z-index: 20;
}

.is-menu-link{
	padding-left: 2px;
}

.is-padding{
	padding-bottom: 5px;
}

.is-logout-button{
	padding-right: 30px;
}

.is-inactive-link{
  pointer-events: none;
  cursor: default;
}

.is-child-link{
  padding-left: 15px;
}

.is-username-link{
  padding-bottom: 30px;
}

.navbar {
  height: 66px !important;
  z-index: 10 !important;
  display: block !important;
}

#header-logo {
  height: 66px !important;
  float: left;
  display: flex;
  align-items: center;
  &:hover {
    background: none;
  }
}

.logout-button {
  padding: 0.5rem 0.75rem;
  float: right;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 25px;
  button {
    margin: 0px 0px 0px 25px;
  }
}

.filters-container {
  background-color: $lighterGray;
  margin-bottom: 10px;
  padding: 10px;
  color: $blue;
  .fa-filter {
      margin-right: 10px;
  }
}

.section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  .filter-control {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }
  }
}

.react-bootstrap-table-pagination {
  display: flex;
  justify-content: flex-end;
  justify-items: right;
}

.table-header {
  background-color: $lighterGray;
}

.pagination {
  .page-item {
    & a {color: $brandBlue;}
    &.active {
      a {color: $blue;}
    }
    .button {
      // margin-left: 20px;
      color: white;
      background-color: $blue;
      border: 0;
      height: 2em;
    }    
  }
}

.btn-group {
  margin: 0;
}

.search-section {
  margin: 0px 20px 20px 20px;
  .search {
    width: 60%;
  }
}

.button {
    margin-left: 20px;
    font-weight: bold;
    color: white;
    background-color: $blue;
    border: 0;
}
