// Backgrounds
.bg-blue {
  background: $blue;
}

.bg-gradient {
  background: $gradient;
}

.bg-grey {
  background: $gray;
}

// NavMenu
.is-sidebar-menu {
	float: left;
	position: relative;
	min-height: 100vh;
	width: 250px;
	padding-bottom: 99999px;
  margin-bottom: -99999px;
	padding-top: 9px;
	z-index: 20;
}

.is-menu-link{
	padding-left: 2px;
}

.is-padding{
	padding-bottom: 5px;
}

.is-logout-button{
	padding-right: 30px;
}

.is-inactive-link{
  pointer-events: none;
  cursor: default;
}

.is-child-link{
  padding-left: 15px;
}

.is-username-link{
  padding-bottom: 30px;
}

