// https://bulma.io/documentation/customize/with-node-sass/

@charset "utf-8";
@import './variables.scss'; //MH - variables must come before bulma for proper override


@import '../../node_modules/bulma/bulma.sass'; //MH -keep if you want all of bulma

// Example: Import only what you need from Bulma
// @import '../node_modules/bulma/sass/elements/button.sass';
// @import '../node_modules/bulma/sass/elements/container.sass';
// @import '../node_modules/bulma/sass/elements/form.sass';
// @import '../node_modules/bulma/sass/elements/title.sass';
// @import '../node_modules/bulma/sass/components/navbar.sass';
// @import '../node_modules/bulma/sass/layout/hero.sass';
// @import '../node_modules/bulma/sass/layout/section.sass';

// @import '../node_modules/bulma/sass/utilities/_all.sass';
// @import '../node_modules/bulma/sass/base/_all.sass';
// @import '../../node_modules/bulma/sass/elements/_all.sass';
// @import '../../node_modules/bulma/sass/grid/_all.sass';

@import './helpers.scss';
@import './typography.scss';
@import '../../node_modules/react-bootstrap-table-next/dist/react-bootstrap-table2.min';
