// https://bulma.io/documentation/customize/with-node-sass/
// https://bulma.io/documentation/customize/variables/

// colors
$brandBlue: #053d6f;
$gray: #8e8e93;
$blue: #51a3fc;
$orange: #fdbc49;
$red: #fc575a;
$darkGray: #555555;
$lightGray: #d1d1d1;
$lighterGray: #eeeeee;
$white: #FFF;
$errorRed: red;
$breakpointMobile: 1200px;

$gradient: linear-gradient(to bottom, #6f90fc 0%, #52baed 100%);

$cyan: $blue;
$headerHeight: 65px;


//BULMA SPECIFIC VARIABLES
$primary: $blue;
$info: $brandBlue;
$dark: $gray;
$button-disabled-background-color: $lightGray !important;
$button-disabled-opacity: 1;

