// https://bulma.io/documentation/customize/with-node-sass/
// https://bulma.io/documentation/customize/variables/

// colors
$brandBlue: #053d6f;
$gray: #8e8e93;
$blue: #51a3fc;
$orange: #fdbc49;
$red: #fc575a;
$darkGray: #555555;
$lightGray: #d1d1d1;
$lighterGray: #eeeeee;

$gradient: linear-gradient(to bottom, #6f90fc 0%, #52baed 100%);

$cyan: $blue;
$headerHeight: 65px;

//BULMA SPECIFIC
// Example: Set your brand colors
$primary: $blue;
$dark: $gray;

// $purple: #8a4d76;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;

// Example: Update Bulma's global variables
// $family-sans-serif: 'Nunito', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Example: Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;
