@import '../../scss/variables.scss';
.dashboard {
    &__module {
        padding: 20px 20px 50px 20px;
        flex-basis: 30%;
        flex-grow: 0;
        color: $white;

        &:nth-child(1) {
            background-color: $orange;
        }
        &:nth-child(2) {
            background-color: $blue;
        }
        a {
            color: $white;
        }
    }
    &__module_header {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        padding-left: 5px;
        display: flex;
    }
    &__module_title {
        display: inline-flex;
        flex: 1 0;
    }
    &__module_title_link {
        justify-self: flex-end;
        font-weight: bold;
    }
    &__module_desc {
        font-size: 18px;
        padding-left: 5px;
    }
    &__module_subtext {
        font-size: 14px;
        padding-left: 5px;
    }
    &__module_stat {
        white-space: nowrap;
        text-align: right;
        padding-left: 5px;
        line-height: 28px;
        font-weight: bold;
    }
    &__grid {
        display: grid;
        grid-template-columns: min-content auto;
        padding-left: 10px;
        padding-right: 10px;

        p:first-child, p:nth-child(2) {
            margin-top: 15px;
        }
        p:nth-child(4n+5), p:nth-child(4n+6) {
            border-top: 1px solid white;
            padding-top: 15px;
            margin-top: 15px;
        }
    }
}
@media screen and (max-width:920px){
    .dashboard__modules_container {
        display:block !important;
        width: 100%;

        .dashboard {
            &__module {
                padding: 20px 20px 50px 20px;
                margin-bottom: 20px;
                width: 100%;
                position: relative;
                display: block;
                flex-basis: 100%;
                flex-grow: 0;
                color: $white;
            }
        }
    }
}
