@import "../../scss/variables.scss";

.accordion {
  overflow: hidden;
  transition: max-height 500ms ease-in-out;
  max-height: 1000px;
  margin-bottom: .75rem;
  display: flex;
  flex-direction: column;
  &.isCollapsed {
      max-height: 45px;
  }
  &__header {
    background-color: $lighterGray;
    color: $brandBlue;
    display: flex;
    justify-content: space-between;
  }
  &__header_title {
    padding: 10px;
    color: $blue;
    width: 100%;
    i {
      margin-right: 10px;
    }
  }
  &__toggle {
    border: 0;
    background-color: transparent;
  }
  &__panel {
    padding: 10px;
    background-color: $lighterGray;
  }
  &__row {
    border-bottom: 1px solid $lighterGray;
    padding: 20px 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    a {
      color: $darkGray;
    }
    > .column:last-child {
      text-align: right;
    }
  }
  &__col {
    &:last-child {
      text-align: right;
    }
    .subtext {
      color: $gray;
    }
  }
}
