@import "../../constants/constants.scss";

.admin__accordion {
  &:first-child {
    margin-top: 3rem;
  }
  margin-top: 1em;
  & .accordion__label {
    text-align: left;
    width: 100%;
    padding: 10px;
    background-color: $color__gray--light;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  & .accordion__table,
  & .accordion__select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: .9em;
    padding: 10px;
    overflow: auto;
    table {
      border-spacing: 0;
      box-sizing: border-box;
      position: relative;
      table-layout: fixed;
      text-align: left;
      width: 800px;
      @media screen and (min-width: $mq--desktop) {
        width: 100%;
      }
      td {
        border-bottom: 1px solid $color__gray--border;
        padding: 1em 0;
        vertical-align: top;
        select {
          width: 100%;
          height: 35px;
          font-size: .9em;
          font-weight: 100;
          background: $color__white;
        }
      }
    }
    .btn--group {
      display: flex;
      button {
        &:last-child {
          margin-left: 1em;
        }
      }
    }
    button {
      margin: 1em 0;
    }
  }
  & .accordion__list {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    & .accordion__list--item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      & ul {
        padding: 0;
        list-style: none;
        text-align: left;
      }
    }
  }
}
