@import "../../constants/constants.scss";

.admin__accordion {
  margin: 1em;
  // &:first-child {
  //   margin-top: 1rem;
  // }
  .btn--group {
    display: flex;
    flex-direction: column;
    & button:last-child {
      margin-top: 0.625em;
    }
    @media screen and (min-width: $mq--desktop) {
      flex-direction: row;
      margin-top: 1em;
      button {
        &:last-child {
          margin-left: 1em;
          margin-top: 0;
        }
      }
    }
  }
  margin-top: 1em;
  & .accordion__label {
    text-align: left;
    width: 100%;
    padding: 10px;
    background-color: $color__gray--light;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  & .accordion__table,
  & .accordion__select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: .9em;
    // padding: 10px;
    overflow: auto;
    table {
      border-spacing: 0;
      box-sizing: border-box;
      position: relative;
      table-layout: fixed;
      text-align: left;
      width: 800px;
      padding-right: 10px;
      @media screen and (min-width: $mq--desktop) {
        width: 100%;
        padding-right: 0;
      }
      td {
        border-bottom: 1px solid $color__gray--border;
        padding: 1em 0;
        vertical-align: top;
        select {
          width: 100%;
          height: 30px;
          font-size: .9em;
          font-weight: 100;
          background: $color__white;
          border: 1px solid $color__gray--border;
          border-radius: 14px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }
    button {
      margin: 1em 0;
    }
  }
  & .accordion__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em;
    @media screen and (min-width: $mq--desktop) {
      flex-direction: row
    }
    & .accordion__list--item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      padding: 1.25em 0;
      border-bottom: 1px solid $color__gray--border;
      & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
      }
      @media screen and (min-width: $mq--desktop) {
        justify-content: flex-start;
        flex-direction: column;
        border: 0;
      }
    }
  }
}
