.ticket-window-modal {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.ticket-modal-container {
  width: 25%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 1010;
  transform: translate(-50%, -50%);
}

.ticket-modal-title-container {
  display: flex;
  align-items: flex-end;
}

.close-icon-container {
  text-align: right;
  height: 1em;
  color: $darkBlue;
  button {
    background: none;
    border: none;
    color: $darkBlue;
  }
}

#ticket-modal-icon-pencil {
  margin-left: 5px;
  margin-bottom: 15px;
}

#ticket-modal-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: $orange;
}

#ticket-modal-issue {
  margin-bottom: 1em;
  padding-top: 1em;
  color: $darkBlue;
  font-weight: bold;
  line-height: normal;
  text-align: left;
}

.ticket-details-section {
  padding-bottom: 8px;
}

.ticket-detail-label {
  color: #8e8e93;
}

#scroll-container {
  overflow-y: auto;
  width: 100%;
  height: 300px;
}

.ticket-card-bottom-header {
  font-size: 16px;
  font-weight: bold;
  color: $darkGray;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ticket-note-button-container {
  display: flex;
}


.ticket-card-notes-list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  width: 75%;
}

.ticket-card-notes-issue-status {
  color: $blue;
  font-weight: normal;
}


#in-progress {
  color: $orange;
}

.ticket-details-left {
  float: left;
  max-width: 50%;
}

.ticket-details-right {
  float: right;
  text-align: right;
  max-width: 50%;
}

.ticket-details-save {
  margin-top: 25px;
  display: flex;
  margin-left: -20px;
}

.rounded {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: $darkGray;
  border-radius: 50%;
  background-color: $darkGray;
  cursor: pointer;
  .icon {
    font-size: 12px;
    color: $white;
  }
}

.rounded--is-editing {
  @extend .rounded;
  border: $blue;
  background-color: $blue;
  cursor: pointer;
  .icon {
    font-size: 12px;
    color: $white;
  }
}
